body {
    margin: 60px auto;
    width: 80%;
    background-color: Ivory;
}
nav ul, footer ul {
    font-family:'Cambria', 'Calibri', 'serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: Brick;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Cambria', 'Calibri', 'serif';
    text-align: center;
    color: LemonChiffon;

    background-image: url(https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0568/6488/ra20_shop_preview.png);
    background-size: cover;
    background-position:center;
    height: 100%;
    width: 100%;
}
p {
    font-size: 1em;
    line-height: 1em;
    color: DimGrey;
    text-align: center;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    text-align: right;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}   
/* Setting a border color on the 'article' element */
article { 
    border-color: DarkSlateGrey;
    }

/* Same as previous, but using the 'border' property instead (also sets border width and style) */    
article { 
    border: 3px solid DarkSlateGrey;
    }

.adjust {
   font-size-adjust: 0.78;
  }
</style>
<p>Without adjustment.</p>
<p class="adjust">With adjustment.</p>
<hr>
