body {
    margin: 60px auto;
    width: 80%;
}
nav ul, footer ul {
    font-family:'Cambria', 'Calibri', 'serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: Maroon;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Cambria', 'Calibri', 'serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: brown;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

/* Set a background color to the 'body' element */
body { 
    background-color: Cornsilk;
    }
    
/* Same as above, but using the CSS 'background' property instead */
body { 
    background: Cornsilk;
    }
    
/* Setting the text color for the 'h1' element */    
h1 { 
    color: Navy;
    }

/* Setting a border color on the 'article' element */
article { 
    border-color: Navy;
    }

/* Same as previous, but using the 'border' property instead (also sets border width and style) */    
article { 
    border: 3px solid Navy;
    }

.adjust {
   font-size-adjust: 0.78;
  }
</style>
<p>Without adjustment.</p>
<p class="adjust">With adjustment.</p>
<hr>
